# Environments
.venv/
.py3812/
.py311/
.py3815/
.py3812/
.py312/
.py310/

# Cache
**__pycache__/
.DS_Store

# Security
*.crt
*.key
.devcontainer/

# Development
temp/
.vscode/
.env
test/fixtures/unit_data_*/

# Build
cuallee/cuallee.egg-info
cuallee.egg-info/
dist/
build/

# Testing
.coverage
app/
creds.json
**/.secrets
paper/jats/
coverage.xml

cuallee/engine/pyspark2.py
