[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "cuallee"
version = "0.4.0"
authors = [
  { name="Virginie Grosboillot", email="vestalisvirginis@gmail.com" },
  { name="Herminio Vazquez", email="canimus@gmail.com"}
]
description = "Python library for data validation on DataFrame APIs including Snowflake/Snowpark, Apache/PySpark and Pandas/DataFrame."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "colorama >= 0.4.6",
    "toolz >= 0.12.0",
    "pygments >= 2.15.1",
    "lxml >= 4.9.2"
]

[project.optional-dependencies]
pyspark = [
  "pyspark>=3.4.0"
]
snowpark = [
  "snowflake-snowpark-python>=0.0.12"
]
pandas = [
  "pandas>=2.0.1"
]
duckdb = [
  "duckdb>=0.7.1"
]
polars = [
  "polars>=0.14.29"
]
iso = [
  "lxml >= 4.9.1"
]
test = [
  "pytest",
  "pytest-cov",
  "pendulum >= 2.1.2"
]



[project.urls]
"Homepage" = "https://github.com/canimus/cuallee"
"Bug Tracker" = "https://github.com/canimus/cuallee"