[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "cuallee"
version = "0.8.7"
authors = ["Herminio Vazquez <canimus@gmail.com>", "Virginie Grosboillot <vestalisvirginis@gmail.com>"]
license = "Apache-2.0"
description = "Python library for data validation on DataFrame APIs including Snowflake/Snowpark, Apache/PySpark and Pandas/DataFrame."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "toolz >= 0.12.0",
]

[project.optional-dependencies]
dev = [
  "black==24.2.0",
  "ruff==0.3.0"
]
pyspark = [
  "pyspark>=3.4.0"
]
snowpark = [
  "snowflake-snowpark-python==1.11.1",
  "pyarrow >= 14.0.2"
]
pandas = [
  "pandas>=2.0.1"
]
bigquery =[
  "google-cloud-bigquery>=3.10.0",
  "pyarrow >= 11.0.0"
]
duckdb = [
  "duckdb==0.9.2"
]
polars = [
  "polars>=0.19.6"
]
test = [
  "pytest",
  "pytest-cov",
  "pendulum >= 2.1.2"
]
dagster = [
  "dagster == 1.6.8"
]
cloud = [
  "msgpack == 1.0.8",
  "requests >= 2.28"
]

[tool.ruff.lint]
# Skip unused variable rules (`F841`).
ignore = ["E731"]


[project.urls]
"Homepage" = "https://github.com/canimus/cuallee"
"Bug Tracker" = "https://github.com/canimus/cuallee"