[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "cuallee"
version = "0.7.4"
authors = [
  { name="Herminio Vazquez", email="canimus@gmail.com"},
  { name="Virginie Grosboillot", email="vestalisvirginis@gmail.com" }
]
description = "Python library for data validation on DataFrame APIs including Snowflake/Snowpark, Apache/PySpark and Pandas/DataFrame."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "colorama >= 0.4.6",
    "toolz >= 0.12.0",
    "pygments >= 2.15.1",
    "requests >= 2.28.2",
    "pandas>=1.5.3",
    "i18n-iso-countries==1.0.0",
]

[project.optional-dependencies]
dev = [
  "black==23.12.1",
  "ruff==0.1.10"
]
pyspark = [
  "pyspark>=3.4.0"
]
snowpark = [
  "snowflake-snowpark-python==1.11.1",
  "pyarrow >= 14.0.2"
]
pandas = [
  "pandas>=2.0.1"
]
bigquery =[
  "google-cloud-bigquery>=3.10.0",
  "pyarrow >= 11.0.0"
]
duckdb = [
  "duckdb==0.9.2"
]
polars = [
  "polars>=0.19.6"
]
test = [
  "pytest",
  "pytest-cov",
  "pendulum >= 2.1.2"
]
dagster = [
  "dagster == 1.5.13"
]




[project.urls]
"Homepage" = "https://github.com/canimus/cuallee"
"Bug Tracker" = "https://github.com/canimus/cuallee"